$nm-dark-color: black;
$nm-primary-color: #ff8a0d;
$nm-background-color: #282828;
$nm-background-color-lighter: #454545;
$nm-background-color-lighter-tone-up: #565656;
$nm-text-color: #d2d2d2;
$splitter-size: 6px;
$nm-background-color-selected: #646464;
$nm-text-color-selected: $nm-text-color;